{% layout "layout.liquid" %}
{% block content %}
<div>
    <article>
        <h2> {{painter.name }} </h2>
        <h3>{{ painter.year }}</h3>
        <br>
        <h3> reviews </h3>
        <div>
            <form action="/reviews" method="post">
              <fieldset>
                <legend>Create a New Review</legend>
                <label>
                  NAME:<input type="text" name="name" placeholder="enter review name" />
                </label>
                <label>
                  CONTENT:<input type="text" name="content" placeholder="enter review name" />
                </label>
                <label>
                  RATING:<input type="number" name="quantity" placeholder="quantity" min="1" max="5"  default="5"  />
                </label>
              </fieldset>
              <input type="submit" value="create new review" />
              <input type="hidden" name="id" value={{painter._id }} />
            </form>
          </div>
        <h4>
            {{ painter.review }}
        </h4>
        <div>
            <article>
                <h2> {{ review.name }} </h2>
                <h3>{{ review.content }}</h3>
                <br>
                <h4>
                    {{ rating.qty }}
                  </h4>
                <a href="/reviews/{{ review._id }}/edit"><button>Edit</button></a>
                <form action="/reviews/{{ review._id }}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" />
                </form>
                <a href="/reviews/"><button>Back to main</button></a>
            </article>
        </div>
        <a href="/painters/{{ painter._id }}/edit"><button>Edit</button></a>
        <form action="/painters/{{ painter._id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </form>
        <a href="/painters/"><button>Back to main</button></a>
    </article>
</div>
{% endblock %}